.contact {
    background-color: var(--invert-smooth-color);
    width: calc(100% - 80px);
    margin: 2rem 0;
    padding: 2rem 40px 6rem 40px;

    &__h2 {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 4rem;
        padding: 0;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        gap: 2rem;

        &__card {
            flex: 1;

            &:nth-child(1) .social {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                gap: 2rem;
                .icon {
                    width: 80px;
                    height: 80px;
                }
            }

            &__descr {
                font-weight: 300;
                font-size: 1.3rem;
                line-height: 1.8rem;
                margin-bottom: 1rem;
            }
        }
    }
}
