@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

body {
    margin: 0;
    font-family: -apple-system, 'Poppins', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    color: var(--font-color);
    transition: all 0.4s;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
}
.link:after {
    position: absolute;
    content: '';
    height: 3.5px;
    bottom: -8px;

    margin: 0 auto;
    left: 0;
    width: 0;
    background: linear-gradient(
        to top left,
        var(--link-gradient-1-color) 0%,
        var(--link-gradient-2-color) 100%
    );

    transition: 0.3s;
}
.link:hover:after {
    width: 100%;
    background: linear-gradient(
        to top left,
        var(--link-gradient-1-color) 0%,
        var(--link-gradient-2-color) 100%
    );
}
.link.active {
    &:after {
        position: absolute;
        content: '';
        height: 3.5px;
        bottom: -8px;

        margin: 0 auto;
        left: 0;
        width: 100%;
        background: linear-gradient(
            to top left,
            var(--link-gradient-1-color) 0%,
            var(--link-gradient-2-color) 100%
        );
    }
}
